*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
#navbar{
  display: flex;
  padding: 1.2rem;
  justify-content: space-between;
}
#navbar div{
  display: flex;
}
#navbar li{
  list-style: none;
  margin: 0 20px;
}
#navbar li a:hover{
  color:red;
}
#navbar li a {
  transition: color .3s ease;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

#welcomeText{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
margin-top: 2rem;
}


#textForm{
  padding: 10px;
  outline: none;
}
#analyzer{
  flex-direction:row;
  margin-top: 10px;
}
.btn{
  margin: 0 20px;
  padding: 4px 12px;
  border: 1px solid blue;
  background-color: aqua;
}
.btn{
  /* background-color: black;
  color: white; */
}
#preview p{
  font-size: 17px;
}


/* Alert Css  */
.success{
  background-color: rgb(206, 250, 117);
  padding: 1.2rem;
}